
.college-card{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border: none;

}

.Degree-buttons{

    border-bottom: 4px solid #F7F6F9;
}

.Degree-buttons Button{
    font-size: 1.1rem;
    border: none;

}
.Degree-buttons .button-active{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0px;

}

.Degree-buttons Button:not(.button-active){
    background-color: var(--white-color);
    color: var(--accent-color);
    padding: 6px 20px;
    font-weight: 600;
    
}

.Courses-buttons {
    gap: 10px;
 
  }

.Courses-buttons Button{
    border: 1px solid #CDC3D5;
    font-size: 1.1rem;

}

  .Courses-buttons Button:not(.button-active):hover {
    background-color: #F2F0F4;
    color: var(--accent-color);
    border: 1px solid #CDC3D5;

}




.college-overlay{
    color: var(--white-color);
    margin-top: 35%;
  
}


.college-overlay h3{
   margin-top: 8px;
    font-size: 20px;
}
.college-overlay p{
    font-size: 10px;
}



.college-btn-link {
    color:var(--accent-color);
    text-align: left;
    text-decoration: none;
    font-weight: 600;


}

hr{
    margin: 0.5rem !important;
}
.college-btn-link:hover {
    color: var(--primary-color);

}

.college-card-body{
    height: 100%;
}

