
.college-card{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border: none;

}
.college-btn-light{
    background-color: var(--white-color);
    color: var(--accent-color);
    padding: 6px 20px;
    font-weight: 600;


}

.college-btn-light:hover{
    background-color: var(--primary-color);
    color: var(--white-color);

}




.Courses-buttons {
    gap: 10px;
  
 
  }



.college-overlay{
    color: var(--white-color);
    margin-top: 96px;
    padding: 12px;
    height: 31%;
}


.college-overlay h3{
   margin-top: 8px;
    font-size: 20px;
}
.college-overlay p{
    font-size: 10px;
}



.college-btn-link {
    color:var(--accent-color);
    text-align: left;
    text-decoration: none;
    font-weight: 500;


}

hr{
    margin: 0.5rem !important;
}
.college-btn-link:hover {
    color: var(--primary-color);

}

.college-card-body{
    height: 100%;
}

