

.courses-section {
    padding: 80px 0; 
    text-align: left;
  
}

.courses-section h3 {
    font-size: 20px;
    color: var(--white-color);
    margin-bottom: 15px;
}

.courses-section p {
    font-size: 14px;
    color: var(--white-color);
}

.courses-section h6 {
    font-size: 14px;
    color: var(--ac2-color);
    margin-bottom: 10px;

}

.Course-card{
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(115deg, #470083, #810CE5);
    /* background: var(--linear-gradient); */
}

.cardbody{
    height: 270px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}


.course-image {
    width: 60px;
    height: auto;
    margin-right: 14px;
}



.course-card-btn {
    background-color: transparent;
    border-radius: 18px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    padding: 6px 14px;
}

.course-card-btn:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}

.explore-btn {
    width: 120px; 
    margin-top: auto;
    color: var(--primary-color);
    font-weight: 600;
}

.explore-btn:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}