
  
  .offerings-buttons {
    gap: 10px;
 
  }
  
  .offerings-buttons button{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #CDC3D5;

  }

  .offerings-buttons Button:not(.button-active):hover {
    background-color: #F2F0F4;
    color: var(--accent-color);
    border: 1px solid #CDC3D5;

}

.button-active {
  background-color: var(--accent-color); 
  color: var(--white-color);
  /* border: none;  */
}


  .resource-links {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .resource-links a {
    color: var(--accent-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
  }

  .resource-links p{
    font-size: 0.9rem;
    margin: 0;
    font-weight: 600;
  }
  
  .resource-links img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
  }
  
 