

.Abroad-section h2{
    font-weight: 600;
    color: #222222;
}

 .LeftAbroad-section p{
    color: #707070;
 }



  .LeftAbroad-section ul li a{
    text-decoration: none;
    color: #27202D;
  }

 .Abroad-join {
    background-color: #470083;
    border: none;
    font-weight: 600;
    height: 45px;
    width: 112px;
    border-radius: 10px;
    
 }


 .RightAbroad-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}