.skill-development-section {
    padding: 20px;
  }
  
  .Skills-course-card {
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border: none; 
   
  }
  
  .Skills-course-card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .Skills-course-card .card-body {
    max-height: 100%;
    padding: 20px;
  }
   

  
  .carousel-item-padding-40-px {
    padding: 10px 20px; 
  }
  
  .previous-price {
    color: var(--ac2-color);
    text-decoration: line-through;
    margin-left: 5px;
  }



  /* .react-multi-carousel-list {
    position: static !important;
  } */

  .skill-development-section .react-multiple-carousel__arrow--right{
    right: 0;
    background-color: black;
  }
  .skill-development-section .react-multiple-carousel__arrow--left{
    left: 0;
    background-color: black;
  }
  /* .react-multiple-carousel__arrow--left{
    left: -3% !important;
  } */