.carousel-indicators [data-bs-target] {
    width: 60px !important;
    height: 8px  !important; 
    border: 1px solid;
    border-radius:  11px !important;
    opacity: none !important;
}
  
  .carousel-indicators .active {
    background-color: black; }
