/* Accordion.css */

.Accordion-section {
  padding: 2rem 0;
}

.Accordion-section h1 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
 
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button {
  font-weight: 400;
}

.accordion-item{
  border:1px solid black
}

.accordion-body {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #212529;
  padding: 1rem;
}

.accordion-item-custom {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}