.option-btn {
  margin-bottom: 10px;
  width: 100%;
  background-color: grey;
}

.correct-option {
  background-color: green;
  color: white;
}

.wrong-option {
  background-color: red;
  color: white;
}
