

.Abroad-section h2{
    font-weight: 600;
    color: var(--accent-color);
}

 .LeftAbroad-section p{
    color: #707070;
 }



  .LeftAbroad-section ul li a{
    text-decoration: none;
    color: var(--accent-color);
  }




 .RightAbroad-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}