

.Abroad-section h2{
    font-weight: 600;
    color: var(--accent-color);
}

 .LeftAbroad-section p{
    color: #707070;
 }



  .LeftAbroad-section ul li a{
    text-decoration: none;
    color: var(--accent-color);
  }

 .Abroad-join {
    background-color: var(--primary-color);
    border: none;
    font-weight: 600;
    border-radius: 10px;
    
 }

 
 .Abroad-join:hover {
   background-color: var(--stroke-color);
    color: var(--primary-color);
}


 .RightAbroad-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}