
.transparent-button {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
}

.transparent-button:hover {

  border: none;
}

.course-batch-card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px -4px #D6EBFF;
  overflow: hidden; 
  
 
}


.Batches-card-img {

  height: auto;
  object-fit: cover; 
  display: block;
  position: relative;
  transition: transform 0.3s ease, filter 0.3s ease;
}


.play-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.play-icon-overlay .Batches-card-img {
  filter: brightness(60%);
}

.Batches-card-img:hover {
  transform: scale(1.05);
}




.course-card-info img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.fullschedule-button button{
    display: flex;
  align-items: center;
margin: auto;
padding: 10px;
font-weight: 500;
font-size: 1.1rem;
}