.testimonial-section {
    background-color: #F5FAFF;
    padding: 40px 0;
  }
  
  .testimonial-card {
    width: 78%;
    border: none;
    transition: transform 0.3s ease;
    margin: 0 10px; 
    background-color: transparent;
  }

  
  .testimonial-card:hover {
    transform: translateY(-6px);
  }
  
  .testimonial-card .card-body {
    padding: 20px;
    display: flex;
  align-items: center;
  box-shadow: 0 3px 5px -3px #000;

  }
  
  .testimonial-image img {
    width: 150px; 
    height: 150px; 
    margin-right: 20px; 
  }
  .testimonial-content h5 {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .testimonial-content p {
    font-size: 14px;
    color: var(--ac2-color);
  }


