.navbar-container {
    background-color: var(--white-color);
    padding: 10px;
    box-shadow: 0px 1px 4px rgb(222, 219, 219);
}

.container{
    max-width: 1400px;
}
.navbar-brand img{
    height: 40px; 
    width: auto; 
    margin-right: 10px; 
}

.navbar-container .nav-link {
    margin-right: 15px; 
}



.navbar-container .navbar-brand,
.navbar-container .nav-link {
    color: var(--accent-color); 
    font-weight: 500;
    font-size: 13px;
   
 
}

.navbar-container .navbar-nav{
    margin-left: 80px;
}
.navbar-container .nav-link:hover {
    color: var(--white-color);
    background-color: var(--primary-color);

}


.navbar-container .dropdown-item:hover {
    color: var(--white-color); 
}



.btn-login {
    color: var(--primary-color);
    font-weight: 600;
    height: 45px;
    width: 112px;
    text-decoration: none;
}

 .btn-login:hover,
 .btn-join:hover
 {
    background-color: var(--primary-color);
    color: var( --MainLight-color);
}

.btn-join{  
     background-color: var(--stroke-color);
     color: var(--primary-color);
    border: none;
    font-weight: 600;
    height: 45px;
    width: 112px;
    border-radius: 10px;
}