.navbar-custom {
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0px 1px 4px rgb(222, 219, 219);
}

.container{
    max-width: 1250px;
}
.navbar-brand img{
    height: 40px; 
    width: auto; 
    margin-right: 10px; 
}

.navbar-custom .nav-link {
    color: #ffffff; 
    margin-right: 15px; 
}


.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #27202D; 
    font-weight: 500;
    font-size: 13px;
   
 
}

.navbar-custom .navbar-nav{
    margin-left: 80px;
}
.navbar-custom .nav-link:hover {
    color: #ffffff;
    background-color: #470083;

}


.navbar-custom .dropdown-item:hover {
    color: white; /* Hover background color */

}



.btn-login {
    color: #470083;
    font-weight: 600;
    height: 45px;
    width: 112px;
}

 .btn-login:hover{
    background-color: #470083;
    color: #ffffff;
}

.btn-join{  
     background-color: #ffffff;
     color: #470083;
    border: none;
    font-weight: 600;
    height: 45px;
    width: 112px;
    border-radius: 10px;
}