
.Leftapp-section{
    margin-top: 100px;
}


.Leftapp-section h2{
    font-weight: 600;
    color: var(--accent-color);
}

 .Leftapp-section p{
    color: var(--stroke-color);
 }




 .Rightapp-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}